#docContainer {
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}

.sentence {
  cursor: pointer;
  padding: 4px;
}

.sentence:hover {
  background-color: #eee;
}

.active {
  background-color: yellow;
}
